html,body{
    height: 100%;
    background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#b6f1fe), to(#37d3f5));
}
.contain{
    font-size: 0.12rem;
    margin-top: 0.3rem;
}
.input{
    font-size: 0.15rem;
    width: 3.45rem;
    line-height: 0.46rem;
    margin: 0 auto 0.16rem;
    background: #fff;
    border-radius: 0.04rem;
    position: relative;
    border: 1px solid #f1f1f1;
}
.input.submit{
    margin-top: 0.25rem;
    background: #ffce45;
    font-size: 0.17rem;
    border: none;
}
.input.submit input{
    color: #fff;
}
.input input::-webkit-input-placeholder{
    color: #ccc;
}
.input input{
    width: 3.35rem;
    line-height: 0.46rem;
    color: #333;
    padding-left: 0.1rem;
    background: none;
    border: none;
}
.input button{
    position: absolute;
    top:0;
    right: 0;
    width: 1.02rem;
    line-height: 0.46rem;
    border: 1px solid #f3f3f3;
    color: #51c2e6;
    border-radius: 0.04rem;
    text-align: center;
    background: none;

}
.no-yzm{
    font-size: 0.14rem;
    width: 3.45rem;
    margin: 0.05rem auto 0;
}

.no-yzm a{
    float: right;
    font-size: 0.14rem;
    color: #fff;
    text-decoration: underline;
}

.tips{
    width: 3.45rem;
    margin: 0 auto;
    font-size: 0.14rem;
    color: #fff;
    padding-top: 1rem;
    line-height: 0.24rem;
}
.tips a{
    text-decoration: underline;
    color: #fff;
    font-weight: bold;
}


















