body{
    font-size: 0.14rem;
    background: #f1f1f1;
}
header{
    width: 3.75rem;
    margin: 0 auto;
    background: url(../images/my_bg.jpg) no-repeat center top #fff;
    background-size: cover;
    text-align: center;
    color: #fff;
}
header h2{
    padding-top: 0.18rem;
    font-size: 0.17rem;
}
header .infor{
    font-size: 0.14rem;
    font-weight: bold;
    padding-top: 0.1rem;
}
header .infor img{
    width: 0.19rem;
    margin-top: -0.02rem;
    margin-right: 0.03rem;
}
header .infor .city{
    padding-right: 0.1rem;
}
header .tou-img{
    margin-top: 0.1rem;
    width: 1rem;
    height: 1rem;
    display: inline-block;
    border-radius: 50%;
    background: rgba(0,0,0,0.08);
    position: relative;
    text-align: center;
}
header .tou-img img{
    width: 0.9rem;
    height: 0.9rem;
    border-radius: 50%;
    position: absolute;
    top:0.05rem;
    left: 0.05rem;
}
.contain{
    padding-bottom: 0.6rem;
}
.babylist{
    background: #fff;
    width: 3.75rem;
    margin: 0 auto;
    padding-top: 0.05rem;
}
.babylist li{
    float: left;
    width: 0.5rem;
    margin-left: 0.2rem;
    margin-right: 0.12rem;
    text-align: center;
}
.babylist li.active img{
    border: 3px solid #51c2e6;
}
.babylist li img{
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
}
.babylist li p{
    font-size: 0.11rem;
    color: #333;
    line-height: 0.16rem;
}
.infor-boss{
    background: #fff;
    padding-top: 0.15rem;
    width: 3.75rem;
    margin: 0 auto;
    border-bottom: 1px solid #e5e5e5;
}
.infor-list{
    padding-left: 0.1rem;
}
.infor-list .icon{
    float: left;
    width: 0.21rem;
    padding: 0 0.1rem;
    margin-top: 0.17rem;
}
.infor-list .right{
    font-size: 0.15rem;
    width: 3.2rem;
    float: right;
    /*border-top: 1px solid #f1f1f1;*/
    background: url("http://qd.vxin365.com/test_project/vxin_sport_cp_jz/images/my_list_bg.jpg") repeat-x;
    background-size: 100% 100%;
    height: 0.54rem;
    line-height: 0.54rem;
}
.infor-list .right .fr{
    color: #666;
    text-align: right;
}
.infor-list .right .fr span{
    padding-right: 0.14rem;
}
.infor-list .right .fr img{
    height: 0.16rem;
    padding-right: 0.14rem;
}
.mask{
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    position: fixed;
    top:0;
    left: 0;
    z-index: 3;
}

.mask .mask-content{
    position: fixed;
    left: 0;
    bottom:0;
    width: 100%;
    background: #fff;
    text-align: center;
}
.mask .mask-content p{
    font-size: 0.17rem;
    color: #51c2e6;
    line-height: 0.55rem;
}
.mask .mask-content p.done{
    border-bottom: 1px solid #f3f3f3;
}
.exit{
    width: 3.75rem;
    margin: 0.1rem auto;
    background: #fff;
    line-height: 0.5rem;
    color: #51c2e6;
    font-size: 0.15rem;
    text-align: center;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}
.a_block{
    display: block;
}














