<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>宝宝体测报告</title>
    <link rel="stylesheet" href="../web_common/css/wap-common.css"/>
    <link rel="stylesheet" href="../web_common/css/rem.css"/>
    <link rel="stylesheet" href="css/cp-report.css"/>
    <link rel="stylesheet" href="css/footer.css"/>
    <script type="text/javascript" src="../web_common/js/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" src="../web_common/js/rem.js"></script>
    <script type="text/javascript" src="js/scheme.js"></script>
</head>
<body>
<div class="contain">
    <div class="content">
        <div class="mask"></div>
        <header>
            <dl class="clearfix">
                <dt><img src="images/my_tou.png"></dt>
                <dd>
                    <h2><span class="name">徐伟轩</span><span class="age">3岁2个月</span>啦</h2>
                    <p class="p1"><span class="kindergarten">智博幼儿园</span><span class="class">小班向日葵班</span></p>
                    <p class="p2">距离上次测评<span>5</span>天了</p>
                </dd>
            </dl>
            <img class="cehua" data-falg="0" src="images/fa_icon.png">
        </header>

    </div>
    <div class="fix-right">
        <h2>我的历史测评</h2>
        <div class="clearfix">
            <ul class="list">
                <li><img src="images/cp_icon.png">2016-08</li>
                <li><img src="images/cp_icon.png">2016-08</li>
                <li><img src="images/cp_icon.png">2016-08</li>
                <li><img src="images/cp_icon.png">2016-08</li>
                <li><img src="images/cp_icon.png">2016-08</li>
                <li><img src="images/cp_icon.png">2016-08</li>
                <li><img src="images/cp_icon.png">2016-08</li>
            </ul>
        </div>
    </div>
</div>
<footer class="footer">
    <ul class="clearfix">
        <li><a class="fot1" href="ceping_data.html">测评</a></li>
        <li><a class="fot2" href="scheme.html">方案</a></li>
        <li><a class="fot3" href="expert.html">专家</a></li>
        <li><a class="fot4 fot4-light" href="my.html">我</a></li>
    </ul>
</footer>
</body>
</html>