<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>专家</title>
    <link rel="stylesheet" href="__PUBLIC__/web_common/css/wap-common.css"/>
    <link rel="stylesheet" href="__PUBLIC__/web_common/css/rem.css"/>
    <link rel="stylesheet" href="http://g.alicdn.com/de/prismplayer/1.4.7/skins/default/index.css" />
    <link rel="stylesheet" href="__PUBLIC__/kindergarten/css/expert.css"/>
    <link rel="stylesheet" href="__PUBLIC__/kindergarten/css/footer.css"/>
    <script type="text/javascript" src="__PUBLIC__/web_common/js/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" src="http://g.alicdn.com/de/prismplayer/1.4.7/prism-min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/web_common/js/rem.js"></script>
    <script type="text/javascript" src="__PUBLIC__/kindergarten/js/expert.js"></script>
</head>
<body>
    <div class="header">
        <div class="video video-content">
<!--
            <video src="http://ideal.oss-cn-beijing.aliyuncs.com//operating_platform/img_audio/1470322278612de9463b2-6d06-451b-b3c2-5ce90979bcb2.mp4" controls="controls" poster="images/zj_bg.png"  width="3.75rem" height="1.8rem"></video>
-->
            <div id="video1" class="prism-player"></div>
        </div>
        <h2>怎样预防“手足口病”家长要和宝宝分床睡吗？</h2>
        <div class="video-detail">
            <span class="bor-left"></span>
            <div class="clearfix guest">
                <span class="left">本期嘉宾：</span>
                <p>黑眼圈</p>
            </div>
            <div class="content clearfix">
                <span class="left">本期内容：</span>
                <p class="height">手足口病到底怎么回事？巴拉爸了诶新搜啊手足口病到底怎么回事？巴拉爸了诶新搜啊手足口病到底怎么回事？巴拉爸了诶新搜啊</p>
            </div>
        </div>
        <div class="fold" data-flag="0"><img src="__PUBLIC__/kindergarten/images/zj_fold.png"></div>
    </div>
    <div class="header">
        <div class="video video-content">
            <!--
                        <video src="http://ideal.oss-cn-beijing.aliyuncs.com//operating_platform/img_audio/1470322278612de9463b2-6d06-451b-b3c2-5ce90979bcb2.mp4" controls="controls" poster="images/zj_bg.png"  width="3.75rem" height="1.8rem"></video>
            -->
            <div id="video2" class="prism-player"></div>
        </div>
        <h2>怎样预防“手足口病”家长要和宝宝分床睡吗？</h2>
        <div class="video-detail">
            <span class="bor-left"></span>
            <div class="clearfix guest">
                <span class="left">本期嘉宾：</span>
                <p>黑眼圈</p>
            </div>
            <div class="content clearfix">
                <span class="left">本期内容：</span>
                <p class="height">手足口病到底怎么回事？巴拉爸了诶新搜啊手足口病到底怎么回事？巴拉爸了诶新搜啊手足口病到底怎么回事？巴拉爸了诶新搜啊</p>
            </div>
        </div>
        <div class="fold" data-flag="0"><img src="__PUBLIC__/kindergarten/images/zj_fold.png"></div>
    </div>
    <!--<div class="contain">
        <div class="kc-boss">
            <h2><img src="images/zj_icon.png">更多专家视频</h2>
            <ul class="kc-list clearfix">
                <li>
                    <p class="p1"><img src="images/zj_img1.jpg"></p>
                    <p class="p2">专家绘课本</p>
                    <p class="p3">手足口病到底怎么回事?</p>
                </li>
                <li>
                    <p class="p1"><img src="images/zj_img2.jpg"></p>
                    <p class="p2">专家绘课本</p>
                    <p class="p3">手足口病到底怎么回事?</p>
                </li>
                <li>
                    <p class="p1"><img src="images/zj_img2.jpg"></p>
                    <p class="p2">专家绘课本</p>
                    <p class="p3">手足口病到底怎么回事?</p>
                </li>
                <li>
                    <p class="p1"><img src="images/zj_img1.jpg"></p>
                    <p class="p2">专家绘课本</p>
                    <p class="p3">手足口病到底怎么回事?</p>
                </li>
            </ul>
        </div>
    </div>-->
    <!--<footer class="footer">-->
        <!--<ul class="clearfix">-->
            <!--<li><a class="fot1" href="{:U('Principal/index')}">测评</a></li>-->
            <!--<li><a class="fot2" href="{:U('Principal/scheme')}">方案</a></li>-->
            <!--<li><a class="fot3" href="{:U('Principal/expert')}">专家</a></li>-->
            <!--<li><a class="fot4 fot4-light" href="{:U('Principal/my')}">我</a></li>-->
        <!--</ul>-->
    <!--</footer>-->
    <footer class="footer">
        <ul class="clearfix">
            <li><a class="fot1" href="__URL__/index">测评</a></li>
            <li><a class="fot2" href="__URL__/scheme">方案</a></li>
            <li><a class="fot3 fot4-light" href="__URL__/expert">专家</a></li>
            <li><a class="fot4" href="__URL__/my">我</a></li>
        </ul>
    </footer>
</body>
</html>