<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>登录</title>
    <link rel="stylesheet" href="__PUBLIC__/web_common/css/wap-common.css"/>
    <link rel="stylesheet" href="__PUBLIC__/web_common/css/rem.css"/>
    <link rel="stylesheet" href="__PUBLIC__/parent/css/login.css"/>
    <script type="text/javascript" src="__PUBLIC__/web_common/js/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/web_common/js/rem.js"></script>
    <script type="text/javascript" src="__PUBLIC__/parent/js/login.js"></script>
</head>
<body>
<div class="contain">
    <p class="input"><input type="tel" placeholder="请输入您的手机号码"></p>
    <p class="input"><input type="tel" placeholder="请输入验证码"><button>获取验证码</button></p>
    <p class="input submit"><input type="submit" value="登录"></p>
    <p class="clearfix no-yzm"><a>收不到验证码</a></p>
    <p class="tips">如果幼儿园尚未开通爱宝运动测评服务，您可以留下相关信息了解更多测评相关详细信息。<a href="#">了解爱宝运动测评</a> </p>
</div>
</body>
</html>